.couleur {background:#E6E6FA}
.lastUpdate{color: blue}
div.a { font-size:20px;font-family:Arial, Helvetica, sans-serif}
div.fnt_titre { font-size:30px ;font-family:Arial; font-weight: bold;font-color:black}
div.font_tab {font-size:18px ; font-weight: bold;font-family:Arial;font-color:black}
div.c {font-size:18px ; font-family:arial;font-color:black}
div.d {font-size:14px ; font-family:arial;font-color:black}
div.e {font-size:12px ; font-family:arial;font-color:black}
div.c_bl {color:white}
div.font_small {font-size:10px ; font-family:Arial;font-color:black}

div.cv_bold {font-size:14px ; font-family:arial;font-color:black;font-weight:bold}
div.cv_lng {font-size:14px ; font-family:arial;font-color:blue;font-weight:bold}
div.cv_normal {font-size:14px ; font-family:arial;font-color:black}
div.form_parag {font-weight:bold}